API_GISCE_URL=api_gisce_url
API_GISCE_TOKEN=api_gisce_token
API_GISCE_URL_CORBES=api_gisce_url_corbes
API_REE_MERCADOS=api_ree_mercados
OR_OPEN_WEATHER_API_APP_ID=or_open_weather_api_app_id
API_UDG_URL=api_udg_url
API_UDG_TOKEN=api_udg_token
API_UDG_FORECAST=api_udg_forecast
