<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrh5Siz0LpndOoVZS2wWl596Ldu3k42zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>507666849079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.openremote.OurGrid</string>
	<key>PROJECT_ID</key>
	<string>ourgrid-5b4f2</string>
	<key>STORAGE_BUCKET</key>
	<string>ourgrid-5b4f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507666849079:ios:ad568372914573055f0eb2</string>
</dict>
</plist>